![alt text](airbnb-logo.png "Title")
# Airbnb Data Project V2 Part2
Following on from last week's learning, I will be attempting to apply clustering and SVMs on the Airbnb dataset. Off the top of my head, I thought it would be interesting to apply the models to a list-price vs. popularity dataset. There could be interesting groupings such as popular cheap deals and popular premium listings.

To start off, we will load up the data.

In [1]:
import pandas as pd
import numpy as np

# Data sourced from Inside Airbnb (http://insideairbnb.com/get-the-data.html)
# A million thanks to Murray Cox
calendar = pd.read_csv("calendar.csv")
calendar2 = pd.read_csv("calendar2.csv")
listings = pd.read_csv("listings.csv")
listings2 = pd.read_csv("listings2.csv")
nhoods = pd.read_csv("neighbourhoods.csv")
reviews = pd.read_csv("reviews.csv")
reviews2 = pd.read_csv("reviews2.csv")

Currently, I think that we are not done with the listings2 dataset yet. Just to review, we look at the list of data fields again.

In [2]:
list(listings2)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'reviews_per_month']

In [3]:
# for i in range(len(list(listings2))):
#     print i
#     print listings2.columns[i]
#     print listings2[listings2.columns[i]].head()

0
id
0    1162609
1    6032828
2    6938818
3    8087607
4    4781448
Name: id, dtype: int64
1
listing_url
0    https://www.airbnb.com/rooms/1162609
1    https://www.airbnb.com/rooms/6032828
2    https://www.airbnb.com/rooms/6938818
3    https://www.airbnb.com/rooms/8087607
4    https://www.airbnb.com/rooms/4781448
Name: listing_url, dtype: object
2
scrape_id
0    20151101181058
1    20151101181058
2    20151101181058
3    20151101181058
4    20151101181058
Name: scrape_id, dtype: int64
3
last_scraped
0    2015-11-02
1    2015-11-01
2    2015-11-02
3    2015-11-02
4    2015-11-02
Name: last_scraped, dtype: object
4
name
0           Lovely One Bedroom Apartment
1                 Historic Seacliff Home
2                    Best Secret in Town
3      Single Room Beautiful Beach Condo
4    3 Bd 2.5 Ba Full Flat Condo w Views
Name: name, dtype: object
5
summary
0    This is a big well designed space. Our neighbo...
1    Beautiful charmng multi- bedroom home in prest...
2    Convenience is the key for your travel. Walkin...
3    When I travel, my quiet beach side condo makes...
4    Our family-friendly condo is located in San Fr...
Name: summary, dtype: object
6
space
0    This is a great one bedroom apartment. It is a...
1                                                  NaN
2    The room is spacious and it is on the top leve...
3                                                  NaN
4    Open concept living, dining area has great cit...
Name: space, dtype: object
7
description
0    This is a big well designed space. Our neighbo...
1    Beautiful charmng multi- bedroom home in prest...
2    Convenience is the key for your travel. Walkin...
3    When I travel, my quiet beach side condo makes...
4    Our family-friendly condo is located in San Fr...
Name: description, dtype: object
8
experiences_offered
0    none
1    none
2    none
3    none
4    none
Name: experiences_offered, dtype: object
9
neighborhood_overview
0                                                  NaN
1                                                  NaN
2    It is in the city and close to everything. Par...
3                                                  NaN
4    We are located across the street from Lincoln ...
Name: neighborhood_overview, dtype: object
10
notes
0                                                  NaN
1                                                  NaN
2    The summer in San Francisco is cooler than any...
3                                                  NaN
4                         2 night minimum stay please.
Name: notes, dtype: object
11
transit
0                                                  NaN
1                                                  NaN
2    If you are on budget, the public transportatio...
3                                                  NaN
4    Easy bus access to the entire city with 3 bus ...
Name: transit, dtype: object
12
thumbnail_url
0    https://a2.muscache.com/ac/pictures/104807019/...
1    https://a2.muscache.com/ac/pictures/75134921/c...
2    https://a1.muscache.com/ac/pictures/87923991/e...
3    https://a1.muscache.com/ac/pictures/103040877/...
4    https://a2.muscache.com/ac/pictures/71426241/2...
Name: thumbnail_url, dtype: object
13
medium_url
0    https://a2.muscache.com/im/pictures/104807019/...
1    https://a2.muscache.com/im/pictures/75134921/c...
2    https://a1.muscache.com/im/pictures/87923991/e...
3    https://a1.muscache.com/im/pictures/103040877/...
4    https://a2.muscache.com/im/pictures/71426241/2...
Name: medium_url, dtype: object
14
picture_url
0    https://a2.muscache.com/ac/pictures/104807019/...
1    https://a2.muscache.com/ac/pictures/75134921/c...
2    https://a1.muscache.com/ac/pictures/87923991/e...
3    https://a1.muscache.com/ac/pictures/103040877/...
4    https://a2.muscache.com/ac/pictures/71426241/2...
Name: picture_url, dtype: object
15
xl_picture_url
0    https://a2.muscache.com/ac/pictures/104807019/...
1    https://a2.muscache.com/ac/pictures/75134921/c...
2    https://a1.muscache.com/ac/pictures/87923991/e...
3    https://a1.muscache.com/ac/pictures/103040877/...
4    https://a2.muscache.com/ac/pictures/71426241/2...
Name: xl_picture_url, dtype: object
16
host_id
0     6368122
1    30384615
2    36381578
3     3264449
4    13112558
Name: host_id, dtype: int64
17
host_url
0     https://www.airbnb.com/users/show/6368122
1    https://www.airbnb.com/users/show/30384615
2    https://www.airbnb.com/users/show/36381578
3     https://www.airbnb.com/users/show/3264449
4    https://www.airbnb.com/users/show/13112558
Name: host_url, dtype: object
18
host_name
0      Taylor
1    Patricia
2      Harris
3       Keith
4         Pam
Name: host_name, dtype: object
19
host_since
0    2013-05-13
1    2015-03-31
2    2015-06-21
3    2012-08-15
4    2014-03-14
Name: host_since, dtype: object
20
host_location
0    San Francisco, California, United States
1    San Francisco, California, United States
2    San Francisco, California, United States
3        Sunnyvale, California, United States
4    San Francisco, California, United States
Name: host_location, dtype: object
21
host_about
0                                       I am from SF.
1                                                  NaN
2    Retired Accounting Professional. Down to earth...
3    i'm a software engineer that works on Google T...
4    I like experiencing the authentic culture of t...
Name: host_about, dtype: object
22
host_response_time
0        within an hour
1                   NaN
2    within a few hours
3        within an hour
4    within a few hours
Name: host_response_time, dtype: object
23
host_response_rate
0    100%
1     NaN
2    100%
3    100%
4    100%
Name: host_response_rate, dtype: object
24
host_acceptance_rate
0    100%
1     NaN
2     75%
3      0%
4    100%
Name: host_acceptance_rate, dtype: object
25
host_is_superhost
0    f
1    f
2    f
3    f
4    f
Name: host_is_superhost, dtype: object
26
host_thumbnail_url
0    https://a2.muscache.com/ac/users/6368122/profi...
1    https://a0.muscache.com/ac/users/30384615/prof...
2    https://a1.muscache.com/ac/users/36381578/prof...
3    https://a2.muscache.com/ac/users/3264449/profi...
4    https://a0.muscache.com/ac/users/13112558/prof...
Name: host_thumbnail_url, dtype: object
27
host_picture_url
0    https://a2.muscache.com/ac/users/6368122/profi...
1    https://a0.muscache.com/ac/users/30384615/prof...
2    https://a1.muscache.com/ac/users/36381578/prof...
3    https://a2.muscache.com/ac/users/3264449/profi...
4    https://a0.muscache.com/ac/users/13112558/prof...
Name: host_picture_url, dtype: object
28
host_neighbourhood
0            Sea Cliff
1            Sea Cliff
2    Richmond District
3    Richmond District
4    Richmond District
Name: host_neighbourhood, dtype: object
29
host_listings_count
0    1
1    1
2    1
3    1
4    2
Name: host_listings_count, dtype: float64
30
host_total_listings_count
0    1
1    1
2    1
3    1
4    2
Name: host_total_listings_count, dtype: float64
31
host_verifications
0                 ['email', 'phone', 'reviews', 'kba']
1                                   ['email', 'phone']
2                 ['email', 'phone', 'reviews', 'kba']
3    ['email', 'phone', 'facebook', 'linkedin', 're...
4     ['email', 'phone', 'linkedin', 'reviews', 'kba']
Name: host_verifications, dtype: object
32
host_has_profile_pic
0    t
1    t
2    t
3    t
4    t
Name: host_has_profile_pic, dtype: object
33
host_identity_verified
0    t
1    f
2    t
3    t
4    t
Name: host_identity_verified, dtype: object
34
street
0    26th Avenue, San Francisco, CA 94121, United S...
1    28th Avenue, San Francisco, CA 94121, United S...
2    44th Avenue, San Francisco, CA 94121, United S...
3    Great Highway, San Francisco, CA 94121, United...
4    33rd Avenue, San Francisco, CA 94121, United S...
Name: street, dtype: object
35
neighbourhood
0            Sea Cliff
1            Sea Cliff
2    Richmond District
3    Richmond District
4    Richmond District
Name: neighbourhood, dtype: object
36
neighbourhood_cleansed
0    Seacliff
1    Seacliff
2    Seacliff
3    Seacliff
4    Seacliff
Name: neighbourhood_cleansed, dtype: object
37
neighbourhood_group_cleansed
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: neighbourhood_group_cleansed, dtype: float64
38
city
0    San Francisco
1    San Francisco
2    San Francisco
3    San Francisco
4    San Francisco
Name: city, dtype: object
39
state
0    CA
1    CA
2    CA
3    CA
4    CA
Name: state, dtype: object
40
zipcode
0    94121
1    94121
2    94121
3    94121
4    94121
Name: zipcode, dtype: float64
41
market
0    San Francisco
1    San Francisco
2    San Francisco
3    San Francisco
4    San Francisco
Name: market, dtype: object
42
smart_location
0    San Francisco, CA
1    San Francisco, CA
2    San Francisco, CA
3    San Francisco, CA
4    San Francisco, CA
Name: smart_location, dtype: object
43
country_code
0    US
1    US
2    US
3    US
4    US
Name: country_code, dtype: object
44
country
0    United States
1    United States
2    United States
3    United States
4    United States
Name: country, dtype: object
45
latitude
0    37.785217
1    37.783658
2    37.781505
3    37.775318
4    37.781797
Name: latitude, dtype: float64
46
longitude
0   -122.488655
1   -122.489398
2   -122.504754
3   -122.511621
4   -122.492492
Name: longitude, dtype: float64
47
is_location_exact
0    t
1    t
2    t
3    t
4    t
Name: is_location_exact, dtype: object
48
property_type
0    Apartment
1        House
2        House
3    Apartment
4    Apartment
Name: property_type, dtype: object
49
room_type
0    Entire home/apt
1    Entire home/apt
2       Private room
3       Private room
4    Entire home/apt
Name: room_type, dtype: object
50
accommodates
0    2
1    6
2    2
3    2
4    8
Name: accommodates, dtype: int64
51
bathrooms
0    1.0
1    2.0
2    1.0
3    1.0
4    2.5
Name: bathrooms, dtype: float64
52
bedrooms
0    1
1    4
2    1
3    1
4    3
Name: bedrooms, dtype: float64
53
beds
0    1
1    2
2    1
3    1
4    4
Name: beds, dtype: float64
54
bed_type
0    Real Bed
1    Real Bed
2       Futon
3    Real Bed
4    Real Bed
Name: bed_type, dtype: object
55
amenities
0    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
1    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
2    {TV,Internet,"Wireless Internet",Kitchen,Heati...
3    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
4    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
Name: amenities, dtype: object
56
square_feet
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: square_feet, dtype: float64
57
price
0    $350.00
1    $300.00
2    $119.00
3     $79.00
4    $695.00
Name: price, dtype: object
58
weekly_price
0    $1,900.00
1          NaN
2      $700.00
3          NaN
4          NaN
Name: weekly_price, dtype: object
59
monthly_price
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: monthly_price, dtype: object
60
security_deposit
0          NaN
1          NaN
2          NaN
3          NaN
4    $1,000.00
Name: security_deposit, dtype: object
61
cleaning_fee
0    $110.00
1        NaN
2     $20.00
3        NaN
4    $110.00
Name: cleaning_fee, dtype: object
62
guests_included
0    1
1    1
2    2
3    1
4    6
Name: guests_included, dtype: int64
63
extra_people
0     $0.00
1     $0.00
2    $50.00
3     $0.00
4    $25.00
Name: extra_people, dtype: object
64
minimum_nights
0    4
1    1
2    1
3    1
4    2
Name: minimum_nights, dtype: int64
65
maximum_nights
0      14
1    1125
2    1125
3    1125
4       7
Name: maximum_nights, dtype: int64
66
calendar_updated
0    2 months ago
1    7 months ago
2     3 weeks ago
3    2 months ago
4           today
Name: calendar_updated, dtype: object
67
has_availability
0    t
1    t
2    t
3    t
4    t
Name: has_availability, dtype: object
68
availability_30
0    30
1     0
2    15
3     0
4     0
Name: availability_30, dtype: int64
69
availability_60
0    60
1     0
2    39
3     0
4     5
Name: availability_60, dtype: int64
70
availability_90
0    90
1     0
2    66
3     0
4    10
Name: availability_90, dtype: int64
71
availability_365
0     90
1    173
2    341
3     40
4     23
Name: availability_365, dtype: int64
72
calendar_last_scraped
0    2015-11-01
1    2015-11-01
2    2015-11-01
3    2015-11-01
4    2015-11-01
Name: calendar_last_scraped, dtype: object
73
number_of_reviews
0     8
1     0
2    10
3     0
4     1
Name: number_of_reviews, dtype: int64
74
first_review
0    2013-06-21
1           NaN
2    2015-06-27
3           NaN
4    2015-08-11
Name: first_review, dtype: object
75
last_review
0    2015-09-17
1           NaN
2    2015-10-08
3           NaN
4    2015-08-11
Name: last_review, dtype: object
76
review_scores_rating
0     89
1    NaN
2     92
3    NaN
4    100
Name: review_scores_rating, dtype: float64
77
review_scores_accuracy
0     9
1   NaN
2     9
3   NaN
4    10
Name: review_scores_accuracy, dtype: float64
78
review_scores_cleanliness
0     9
1   NaN
2     9
3   NaN
4    10
Name: review_scores_cleanliness, dtype: float64
79
review_scores_checkin
0    10
1   NaN
2    10
3   NaN
4    10
Name: review_scores_checkin, dtype: float64
80
review_scores_communication
0    10
1   NaN
2     9
3   NaN
4    10
Name: review_scores_communication, dtype: float64
81
review_scores_location
0     9
1   NaN
2     9
3   NaN
4    10
Name: review_scores_location, dtype: float64
82
review_scores_value
0     9
1   NaN
2     9
3   NaN
4    10
Name: review_scores_value, dtype: float64
83
requires_license
0    t
1    t
2    t
3    t
4    t
Name: requires_license, dtype: object
84
license
0                                                  NaN
1                                                  NaN
2    S. F. Short-Term Residential Rental Registrati...
3                                                  NaN
4                                                  NaN
Name: license, dtype: object
85
jurisdiction_names
0    SAN FRANCISCO
1    SAN FRANCISCO
2    SAN FRANCISCO
3    SAN FRANCISCO
4    SAN FRANCISCO
Name: jurisdiction_names, dtype: object
86
instant_bookable
0    f
1    f
2    f
3    f
4    t
Name: instant_bookable, dtype: object
87
cancellation_policy
0      strict
1    flexible
2      strict
3    flexible
4      strict
Name: cancellation_policy, dtype: object
88
require_guest_profile_picture
0    f
1    f
2    f
3    f
4    f
Name: require_guest_profile_picture, dtype: object
89
require_guest_phone_verification
0    f
1    f
2    f
3    f
4    f
Name: require_guest_phone_verification, dtype: object
90
calculated_host_listings_count
0    1
1    1
2    1
3    1
4    1
Name: calculated_host_listings_count, dtype: int64
91
reviews_per_month
0    0.28
1     NaN
2    2.33
3     NaN
4    0.36
Name: reviews_per_month, dtype: float64

Glancing through the data, I wondered if it would be intersting to plot the price of listings against popularity. Clustering might put them into interesting archetypes (popular deals vs. premium deals vs. duds, etc.)

To normalize the price, I had intended to use square feet, but the field seems to be mainly NA (hosts probably can't be bothered to input their square feet). So I thought a good idea would be to use the listing price divided by the number of beds available as a proxy. For popularity, we'll just stick with reviews per month.

In [4]:
# to do computations, need to convert price from a string to float, stripping the dollar signs and commas.
listings2.price = listings2.price.replace( '[\$,)]', '', regex=True).replace( '[(]','-', regex=True).astype(float)

In [5]:
listings2['price_per_bed'] = listings2.price / listings2.beds
listings2.price_per_bed.head()

0    350.00
1    150.00
2    119.00
3     79.00
4    173.75
Name: price_per_bed, dtype: float64

Next, we select the two columns into a data frame named cluster_listings.

In [6]:
cluster_listings = listings2[['price_per_bed', 'reviews_per_month']].dropna()

Looking at the summary statistics, It seems that there are some outliers in the data ($10,000 per bed and 11 reviews per month), but by and large I think we should expect a good range of data points.

In [ ]:
cluster_listings.describe()

At this point, it seems that the data is not panning out as expected. There are some outliers which distort the overall shape of the scatter plot. These listings also hardly get any business.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.scatter(cluster_listings.price_per_bed, cluster_listings.reviews_per_month)
plt.xlabel("Price Per Bed")
plt.ylabel("Reviews Per Month")
plt.title("Listing Price vs. Popularity")

Zooming in closer and leaving out the outliers, we can observe that the scatter plot is looking like a radial distribution from around (100, 0) as the center.

In [ ]:
plt.xlim(-1, 400) # there are some outliers, so zoom in to get a better view of the pattern
plt.ylim(-1, 12)
plt.scatter(cluster_listings.price_per_bed, cluster_listings.reviews_per_month)
plt.xlabel("Price Per Bed")
plt.ylabel("Reviews Per Month")
plt.title("Listing Price vs. Popularity")

Lets try to do a density plot to see if we are able to derive insights.

In [ ]:
from scipy.stats import gaussian_kde # use Gaussian kernel density distribution to map density

# Calculate the point density
vstacked = np.vstack([cluster_listings.price_per_bed, cluster_listings.reviews_per_month])
density_color = gaussian_kde(vstacked)(vstacked)

# Sort the points by density, so that the densest points are plotted last
idx = density_color.argsort()
cluster_listings.price_per_bed = cluster_listings.price_per_bed[idx]
cluster_listings.reviews_per_month = cluster_listings.reviews_per_month[idx]
density_color = density_color[idx]

It does seem that there is a center where the listings coverge towards. however, this does not seem like a good plot to do clustering with.

In [ ]:
fig, ax = plt.subplots()
ax.scatter(cluster_listings.price_per_bed, cluster_listings.reviews_per_month, c=density_color, s=50, edgecolor='')
plt.xlim(-5, 500)
plt.show()

At this point, it might make some sense to do some k-means clustering on a variety of factors to see if we are able to derive some meaningful patterns. In order to do so, we would need to obtain the set of numeric data fields.

In [ ]:
list(listings2.select_dtypes(include=['int64', 'float64']))

Looking at the list, there are some fields like the ids that I would get rid of. Let's try to categorize the data sets into groups that make sense.

The first group will be location/attribute data. We will extract the lat, long, price, and review information of the listings.

In [ ]:
listings2_latlong = listings2[[
 'latitude',
 'longitude',
 'review_scores_location',
 'reviews_per_month',
 'price_per_bed']].dropna()

In [ ]:
listings2_latlong.head()

In [ ]:
listings2_latlong.describe()

Let's focus on the latlong attributes and try to get a geographical visualization of the listings.

In [ ]:
from mpl_toolkits.basemap import Basemap

# minlat, minlong, maxlat, maxlong
minlong, maxlong = -122.513065, -122.365222
minlat, maxlat = 37.705137, 37.829576

map = Basemap(llcrnrlon=minlong-0.01, llcrnrlat=minlat-0.01,
             urcrnrlon=maxlong+0.01, urcrnrlat=maxlat+0.01, projection='merc', resolution='h')

map.drawcoastlines()
map.drawcountries()
map.fillcontinents(color = 'coral')
map.drawmapboundary()

x, y = map(listings2_latlong['longitude'].tolist(), listings2_latlong['latitude'].tolist())
#long first then lat
map.plot(x, y, 'bo', markersize=3)

plt.show()

From the map plot, we can see that there is a central cluster on the upper right region of the map, with some trailing groups on the peripheral radially. there is also a small group on the top left corner of the map, which seems to be at the Oakland/Berkeley area. This looks like a good plot for DBSCAN.

In [ ]:
from sklearn.cluster import DBSCAN
db = DBSCAN(eps=.15, min_samples=5)
X = listings2_latlong[['longitude', 'latitude']]
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
db.fit(X_scaled)

In [ ]:
listings2_latlong['dbscan_clusters'] = db.labels_

In [ ]:
map.fillcontinents(color='#555555')

map.scatter(x, y, c=listings2_latlong.dbscan_clusters, marker='o', lw=0.25, 
            alpha=0.9, zorder=2)
plt.show()

DBSCAN doesn't show up too nicely but there is some semblance of clustering.

-STILL IN PROGRESS-

There is also a fair bit of review data that might be worth looking at. Users are asked to score the listings across various factors, ranging from location, to cleanliness, etc. If we analysed this data more deeply, we may be able to find some patterns.

In [9]:
listings2_price_review = listings2[[
 'price',
 'number_of_reviews',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'reviews_per_month',
 'price_per_bed']].dropna()

Extra: I want to assign a BART station and distance from BART station for each listing

In [10]:
bartstations = pd.read_csv("BARTstations.csv")

In [11]:
bartstations.head()

,name,abbr,gtfs_latitude,gtfs_longitude,address,city,county,state,zipcode,Unnamed: 9
0,12th St. Oakland City Center,12TH,37.803664,-122.271604,1245 Broadway,Oakland,alameda,CA,94612,NaN
1,16th St. Mission,16TH,37.765062,-122.419694,2000 Mission Street,San Francisco,sanfrancisco,CA,94110,NaN
2,19th St. Oakland,19TH,37.807870,-122.269029,1900 Broadway,Oakland,alameda,CA,94612,NaN
3,24th St. Mission,24TH,37.752254,-122.418466,2800 Mission Street,San Francisco,sanfrancisco,CA,94110,NaN
4,Ashby,ASHB,37.853024,-122.269780,3100 Adeline Street,Berkeley,alameda,CA,94703,NaN